<a href="https://colab.research.google.com/github/ingwanho/code/blob/main/Chapter09_%EA%B8%B0%EC%B4%88%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter10 ~ 13 수업은 잘 들으셨나요?

Chapter10 ~ 13의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

####**제출 방법 안내**
상단 파일명(Chapter03_기초과제.ipynb)을 Chapter01_기초과제_000(본인이름).ipynb로 변경후 아래 링크로 접속 후 본인 이름의 폴더에 제출해주면 됩니다.

제출 링크 :

####**답변 입력 방법 안내**
"답변"이라고 적힌란을 마우스로 더블 클릭하시면 글을 작성할 수 있습니다.

텍스트에 글을 더 잘 작성하기 위해서는 마크다운 언어를 공부하시면 됩니다.

**(구글 검색 창에 "코랩 마크다운" 검색)**

##문제1
movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "비밀"을 "나폴레옹"과 "괴물" 사이에 추가하라.



```
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
```

In [8]:
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
movie.insert(2, '비밀')
print(movie)

['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']

##문제2
movie_rank 리스트에서 '베트맨'를 삭제하라.

```
movie = ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']
```

In [13]:
movie = ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']
del movie[-1]
print(movie)

['서울의 봄', '나폴레옹', '비밀', '괴물']

##문제3

[언어1]과 [언어2] 리스트가 있을 때 언어1과 언어2의 원소를 모두 갖고 있는 [언어모음]이라는 list를 만들어주세요

lang1 = ["C", "C++", "JAVA"]  
lang2 = ["Python", "Go", "C#"]  

실행 예:
언어들
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [22]:
언어1 = ["C", "C++", "JAVA"]
언어2 = ["Python", "Go", "C#"]
언어모음 =언어1 + 언어2
print(언어모음)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

##문제4
다음 리스트에서 최댓값과 최솟값을 출력해주세요.

```
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]
```

In [27]:
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]
맥시멈= max(nums)
미니멀 = min(nums)
print(맥시멈)
print(미니멀)

10
1

##문제5

다음 리스트에 저장된 데이터의 개수를 화면에 구해주세요

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]

In [32]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]
개수 = len(cook)
print(개수)

8

##문제6

다음 리스트의 평균을 출력해주세요

nums = [1, 2, 3, 4, 5]

In [34]:
nums = [1, 2, 3, 4, 5]
평균 = sum(nums)/ len(nums)
print(평균)

3.0

## 문제7

price 변수에는 날짜와 종가 정보가 저장돼 있습니다.
날짜 정보를 제외하고 가격 정보만을 출력해주세요

price = ['20180728', 100, 130, 140, 150, 160, 170]

출력:
[100, 130, 140, 150, 160, 170]

In [35]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
prices_only = price[1:]
print(prices_only)

[100, 130, 140, 150, 160, 170]

## 문제8

아래 코드 실행 시 오류가 발생한 사유를 설명해주세요

t = (1, 2, 3)  
t[0] = 'a'  
Traceback (most recent call last):  
   File "<pyshell#46>", line 1, in <module>  
      t[0] = 'a'   
TypeError: 'tuple' object does not support item assignment

튜블은 변경이 불가능하기때문에

## 문제9
다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

실행 예:
메로나 가격: 1000

In [42]:
ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
print(ice['메로나'])

1000

##문제10

다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

In [48]:
ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

## 문제11
아래 순서대로 주어진 수강생 이름과 등급을 하나의 딕셔너리로 만드는 코드를 작성해주세요


이름 : 나이썬, 김자바, 김씨, 박씨샵  
등급 :   B       B      A      C

In [50]:
성적=dict(zip(["나이썬","김자바", "김씨", "박씨샵"], ["B", "B", "A", "C"]))
print(성적)

{'나이썬': 'B', '김자바': 'B', '김씨': 'A', '박씨샵': 'C'}

## 문제12
아래 ice 딕셔너리에 데이터를 추가 후 출력해주세

ice = {"메로나": [300, 20],  
              "비비빅": [400, 3],  
              "죠스바": [250, 100]}  


추가해야하는 데이터 : 이름 : 보석바, 가격:650, 재고:10

In [56]:
ice = {"메로나": [300, 20],
"비비빅": [400, 3],
"죠스바": [250, 100]}
ice.update({"보석바": [650, 10]})
print(ice)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '보석바': [650, 10]}

##문제13

아래 딕셔너리에서 key만 출력해주세요  

ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [57]:
ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
print(ice.keys())

dict_keys(['메로나', '폴로포', '빵빠레', '죠스바', '월드콘'])